@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,100..900;1,100..900&family=Caprasimo&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700");

@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

#services {
  #services-cont {
    font-family: "Cormorant Garamond", serif;
    margin: 0 10%;
    .time {
      background-image: url("../../assets/room.png");
      height: 400px;
      background-size: cover;
      border-radius: 60px 60px 0 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      .text {
        color: whitesmoke;
        padding: 30px 0 0 10%;
        h1 {
          font-size: 3.5rem;
        }
        ul {
          font-size: 1.5rem;
        }
      }
    }
    .flex {
      display: flex;
      margin: 10px 0 50px 0;
      #a {
        margin-right: 5px;
        border-bottom-left-radius: 60px;
        border-top-right-radius: 60px;
      }
      #b {
        margin-left: 5px;
        border-bottom-right-radius: 60px;
        border-top-left-radius: 60px;
      }
      .box {
        height: 200px;
        background: var(--green-bg);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        h1 {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
  .buttons {
    margin: 70px 25% 90px 25%;
    display: flex;
    justify-content: space-around;

    button {
      font-size: 1rem;
      padding: 12px 24px;
      background: var(--green);
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .rdv {
      background: whitesmoke;
      border: 2px solid var(--green);
      color: black;

      &:hover {
        background: var(--green);
        color: white;
      }
    }
  }
}
